.image-container {
  position: relative;
  width: 250px; 
  height: 250px; 
}

.image-container img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.image-container:hover img {
  transform: translateY(-100px);
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}